services:
  react-service:
    build:
      context: .
      args:
        DUMMY_ARG: "DUMMY_ARG"
        VITE_AUTH_API_BASE_URL: ${VITE_AUTH_API_BASE_URL} # Integration line: Auth
        VITE_EMAIL_API_BASE_URL: ${VITE_EMAIL_API_BASE_URL} # Integration line: Email
        VITE_FILE_API_BASE_URL: ${VITE_FILE_API_BASE_URL} # Integration line: File
        VITE_VAULT_API_BASE_URL: ${VITE_VAULT_API_BASE_URL} # Integration line: Vault
        VITE_TELEMETRY_API_BASE_URL: ${VITE_TELEMETRY_API_BASE_URL} # Integration line: Telemetry
        VITE_GATEWAY_BASE_URL: ${VITE_GATEWAY_BASE_URL} # Integration line: Gateway
        VITE_SERVICE_SECRET_REACT: ${VITE_SERVICE_SECRET_REACT} # Integration line: Auth
    networks:
      - shared-network
    ports:
      - "6080:80"
    container_name: react-service
networks:
  shared-network:
    external: true