.input-div {
    padding: 4vh;
}

.input-row {
    color: white;
    display: grid;
    grid-template-columns: 1fr 3fr;
    white-space: nowrap;
    font-size: 1.3rem;
    gap: 1vw;
    align-items: center;
}

.input-row input {
    font-size: 1.3rem;
}

.submit-button {
    background-color: green !important;
}

.cancel-button {
    background-color: #f44336 !important;
}

.submit-button:hover {
    background-color: darkgreen !important;
}

.cancel-button:hover {
    background-color: #d32f2f !important;
}
